<div class="cv new-template">
    <div class="cv-header">
        <div class="left-side">
            <h1>YOUR NAME</h1>
            <h3>PRODUCT DESIGNER, ANALYTICS</h3>

            <div class="contact-list">
                <p style="display: flex; align-items: center"><mat-icon style="font-size:14px; display: flex; align-items: center">home</mat-icon> New York, USA</p>
                <p style="display: flex; align-items: center"><mat-icon style="font-size:14px; display: flex; align-items: center">phone</mat-icon> +01 2345 6789 02</p>
                <p style="display: flex; align-items: center"><mat-icon style="font-size:14px; display: flex; align-items: center">email</mat-icon> jacobscott@email.com</p>
            </div>
        </div>

        <div class="right-side">
            <div class="avatar"></div>
        </div>

        <div class="diagonal"></div>
    </div>

    <div class="cv-body">
        <div class="left-column">

            <h2>PROFILE</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

            <h2>SKILLS</h2>
            <h4>PROFESSIONAL</h4>
            <ul>
                <li>Graphic Design</li>
                <li>UX/UI Design</li>
                <li>Web Design</li>
                <li>Project Management</li>
                <li>Market Research</li>
                <li>Wireframing</li>
                <li>Usability Testing</li>
            </ul>

            <h2>EDUCATION</h2>
            <ul>
                <li><b>DEGREE TITLE</b><br>University Name<br>2020 – 2023</li>
                <li><b>DEGREE TITLE</b><br>University Name<br>2020 – 2023</li>
            </ul>

            <h2>EXPERTISE</h2>
            <ul>
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>After Effects</li>
                <li>Sketch App</li>
            </ul>
        </div>

        <div class="right-column">
            <h2>EXPERIENCE</h2>

            <div class="job">
                <h4>JOB TITLE HERE</h4>
                <p><b>COMPANY NAME</b> <span class="year">2020 -</span></p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur.</li>
                </ul>
            </div>

            <div class="job">
                <h4>JOB TITLE HERE</h4>
                <p><b>COMPANY NAME</b> <span class="year">2020 -</span></p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur.</li>
                </ul>
            </div>

            <div class="job">
                <h4>JOB TITLE HERE</h4>
                <p><b>COMPANY NAME</b> <span class="year">2020 -</span></p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
