<div class="cv-detail">
  <div class="cv-header">
    <h1>{{cv.title}}</h1>
    <small>Template: {{cv.template}}</small>
  </div>
  <div class="cv-body">
    <app-cv-profile [profileId]="cv.profile"></app-cv-profile>
    <app-cv-skills [skills]="cv.skills"></app-cv-skills>
    <app-cv-languages [languages]="cv.languages"></app-cv-languages>
    <app-cv-educations [educations]="cv.educations"></app-cv-educations>
    <app-cv-experiences [experiences]="cv.experiences"></app-cv-experiences>
    <app-cv-projects [projects]="cv.projects"></app-cv-projects>
  </div>
</div>
